#DB_etc10{position:relative}

#DB_etc10 .DB_etc10_1{position:absolute;left:118px;top:29px}
#DB_etc10 .DB_etc10_2{position:absolute;left:118px;top:130px}
#DB_etc10 .DB_etc10_3{position:absolute;left:131px;top:250px}
#DB_etc10 .DB_etc10_4{position:absolute;left:110px;top:370px}
