 @charset "utf-8";


#wrap{width:1920px; height:16100px; margin: auto; position:absolute;}

.bg_1{position:absolute; left:0px; top: 0px;} 
.bg_2{position:absolute; left:0px; top: 6950px;} 
.bg_3{position:absolute; left:0px; top: 12093px;} 


.m_1{position:absolute; left:965px; top: 134px;} 
.m_2{position:absolute; left:0px; top: 2235px;} 
.m_3{position:absolute; left:199px; top: 4290px;} 
.m_4{position:absolute; left:963px; top: 4290px;} 
.m_5{position:absolute; left:985px; top: 9226px;} 
.m_6{position:absolute; left:1245px; top: 12600px;} 
.m_7{position:absolute; left:0px; top: 14219px;} 


































.i01{position:absolute; left: 309px; top: 6237px;}
.i02{position:absolute; left: 309px; top: 6383px;}
.i03{position:absolute; left: 309px; top: 6496px;}
.i04{position:absolute; left: 309px; top: 6630px;}
.i05{position:absolute; left: 482px; top: 6237px;}
.i06{position:absolute; left: 482px; top: 6385px;}
.i07{position:absolute; left: 482px; top: 6496px;}
.i08{position:absolute; left: 482px; top: 6630px;}
.i09{position:absolute; left: 658px; top: 6237px;}
.i10{position:absolute; left: 655px; top: 6515px;}
.i11{position:absolute; left: 658px; top: 6370px;}
.i12{position:absolute; left: 658px; top: 6630px;}
.i13{position:absolute; left: 830px; top: 6237px;}
.i14{position:absolute; left: 830px; top: 6383px;}
.i15{position:absolute; left: 830px; top: 6496px;}
.i16{position:absolute; left: 830px; top: 6630px;}
.i17{position:absolute; left: 990px; top: 6237px;}
.i18{position:absolute; left: 990px; top: 6377px;}
.i19{position:absolute; left: 990px; top: 6496px;}
.i20{position:absolute; left: 990px; top: 6630px;}
.i21{position:absolute; left: 1164px; top: 6237px;}
.i22{position:absolute; left: 1164px; top: 6377px;}
.i23{position:absolute; left: 1164px; top: 6496px;}
.i24{position:absolute; left: 1164px; top: 6630px;}
.i25{position:absolute; left: 1334px; top: 6237px;}
.i26{position:absolute; left: 1334px; top: 6377px;}
.i27{position:absolute; left: 1334px; top: 6496px;}
.i28{position:absolute; left: 1334px; top: 6630px;}
.i29{position:absolute; left: 1505px; top: 6237px;}
.i30{position:absolute; left: 1505px; top: 6377px;}
.i31{position:absolute; left: 1505px; top: 6496px;}
.i32{position:absolute; left: 1505px; top: 6630px;}





.na01{position:absolute; left:0px;top: 10497px;}



.icon01{position:absolute; left: 175px; top: 14150px;}
.icon02{position:absolute; left: 175px; top: 14270px;}
.icon03{position:absolute; left: 175px; top: 14290px;}
.icon04{position:absolute; left: 175px; top: 14430px;}
.icon05{position:absolute; left: 874px; top: 14000px;}

.long01{position:absolute; left: 400px; top: 15333px;}
.long02{position:absolute; left: 523px; top: 15400px;}

.b801{position:absolute; left: 0px; top:17429px;}
.b901{position:absolute; left: 0px; top:19983px;}



